*,::after,::before{
    box-sizing: border-box;
}


body{
    background-color:darkcyan;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

#main-container{
    background-color: white;
    border: 2px solid black;
}

#container{
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

}

#size-buttons{
    padding: 0.5em 1em 0.5em 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}
